<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="UT.library.apps"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/book"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".searchInputScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".displaySearchResults"
            android:screenOrientation="portrait" />
        <activity android:name=".showLibraryTimings2" />
        <activity android:name=".settings" />
        <activity
            android:name=".reserveStudyRoom"
            android:screenOrientation="portrait" />
        <activity android:name=".displayRoomResults" />
        <activity android:name=".renewBooks" />
        <activity android:name=".saveBooks" />
        <activity android:name=".libraryMaps" />
        <activity android:name=".finalizeRoomReservation" />
        <activity android:name=".searchInputScreen_advanced" >
        </activity>
        <activity
            android:name=".libraryMapsShowImages"
            android:screenOrientation="portrait" />
    </application>

</manifest>